<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <h2 class="fs-3"> <span class="text-danger">Opps!</span> Página não encontrada.</h2>
        <h2 class="lead">
            A página que você está tentando acessar não existe.
        </h2>
        <a href="/palete/home" class="btn btn-primary">Voltar</a>
    </div>
</div>